.glyphicon-ok{
	color:green;
}
.glyphicon-remove{
	color:red;
}
.loading{
	width: 20px;
	height: 20px;
}
.glyphicon-remove,.glyphicon-ok,.loading{
	display: none;
}
.is-success .glyphicon-ok{
	display: inline-block;
}
.is-error .glyphicon-remove{
	display: inline-block;
}
.is-loading .loading{
	display: inline-block;
}

.highlight{
	color: red;
}

.error-tips{
	color: red;
	margin-top: 3px;
}

.i-am-new{
	top: 20px; 
	left: 50%;
	position: fixed;
	width: 310px; 
	height: auto; 
	margin: 0px; 
	margin-left: -155px;
	padding: 0px; 
	list-style-type: none; 
	z-index: 10001;
}
.i-am-new .cms-theme{
	width: 300px; 
	cursor: pointer; 
	height: 40px;
}