<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" debug="false">

    <property name="pattern"
              value="[%X{trace}]-[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%15.15t]-[%5.5p]-[%30.30c{30}] - %msg%n"/>
    <property name="loghome" value="@tcc.log@/@project.build.finalName@"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loghome}/spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loghome}/spring.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="@log.level@">
        <appender-ref ref="@log.appender@"/>
    </root>

    <logger name="org.apache.zookeeper" level="error"/>


</configuration>